.question-square {
    width: 500px;
    /*min-height: 500px;*/
    margin: 0px auto;
    padding: 10px;
    /*border-radius: 1px;*/
    text-align: center;
    border: 2px solid black
}

.question-square img {
    max-width: 430px;
    height: auto;
    visibility: hidden;
}

.question-square h1 {
    font-size: 27px;
}

.question-square h2 {
    font-size: 24px;
}

.question-square .choice-section {
    padding-top: 2px;
    text-align: left;
    display: inline-block;
    visibility: hidden;
}

.question-square .choice-section a {
    font-style: italic;
    display: none;
}

.question-square .choice-section a:visited {
    color: #00E;
}

.question-square .choice {
    font-size: 22px;
    font-weight: bold;
    margin: 8px;
}

.question-square button {
    margin: 8px;
    font-size: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#nextQuestionButton {
    display: none;
}

#newGameButton {
    display: none;
}
