body {
    text-align: center;
}

.question-square {
    min-width: 280px;
    /*min-height: 500px;*/
    margin: 0px auto;
    /*padding: 34px;*/
    /*border-radius: 1px;*/
    text-align: center;
    border: 2px solid black;
    display: inline-block;
}

.question-square img {
    /*max-width: 430px;*/
    /*height: auto;*/
    max-height: 310px;
    margin: 0px 38px;
    width: auto;
    visibility: hidden;
}

.question-square h1 {
    font-size: 27px;
}

.question-square h2 {
    font-size: 20px;
    /*font-weight: normal;*/
}

.question-square .choice-section {
    padding-top: 2px;
    text-align: left;
    display: inline-block;
    visibility: hidden;
    margin: 0px 14px;
}

.question-square .choice-section a {
    font-style: italic;
    display: none;
}

.question-square .choice-section a:visited {
    color: #00E;
}

.question-square .choice {
    font-size: 20px;
    /*font-weight: bold;*/
    margin: 8px;
}

.question-square button {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#nextQuestionButton {
    display: none;
}

#newGameButton {
    display: none;
}
