{% extends "base/base.html" %}
{% load staticfiles %}

{% block child_static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        var PRE_LOADED_CATEGORIES = {{ categories|safe }};
    </script>
    {% comment %}
        For possible inclusion later if data is collected or saved from gameplay.
        <script src="{% static 'base/ajax_csrf.js' %}"></script>        
    {% endcomment %}
    <script src="{% static 'game/obscenity-filter.js' %}"></script>
    <script src="{% static 'game/wikipediagame.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'game/game.css' %}"/>
{% endblock child_static %}

{% block content %}

{% csrf_token %}
<div class="question-square">
    <h1 id="questionHeader">Question <span id="questionCount">1</span></h1>
    <h2>Correct: <span id="correct">0</span> | Wrong: <span id="wrong">0</span></h2>
    <div>
    <img id="thumbnail" src="">
    </div>
    <div class="choice-section">
        {% for x in '01234' %}
        <div class="choice">
            <input id="choice-{{ x }}" type="radio" name="wikichoice" value="#" />
            <label for="choice-{{ x }}">a</label>
            <a target="_blank" href="#">Link</a>
        </div>
        {% endfor %}    
    </div>
    <br>
    <button id="submitButton">Submit Answer</button>
    <button id="nextQuestionButton">Next Question</button>
    <button id="newGameButton">New Game?</button>
</div>

{% endblock content %}
