{% extends "base/base.html" %}
{% load staticfiles %}

{% block child_static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'game/game.js' %}"></script>    
    <link rel="stylesheet" type="text/css" href="{% static 'game/game.css' %}"/>
{% endblock child_static %}

{% block content %}

{% if debugText %}
    <p>{{ debugText }}</p>    
{% endif %}


{% if question %}
{% csrf_token %}
<div class="question-square">
    <h1>Question 1</h1>
    <a href="{{ question.answerUrl }}">
    <img src="{{ question.thumbnail }}">
    </a>

    <div class="choice-section">
    {% for choice in question.choices %}
        <div class="choice">
            <label>
            <input type="radio" name="wikichoice" value="{{ choice.key }}" />
            {{ choice.title }}</label>
        </div>
    {% endfor %}
    </div>
    <br>
    <button id="submitAnswer">Submit Answer</button>
</div>
{% endif %}

{% endblock content %}
